html {
    box-sizing: border-box;
    background: black;
    /* height: 100%; */
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    /* padding-top: 7.5rem; */
    /* height: 100%; */
}

@media (min-width: 40rem) {
    body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding-top: 7.5rem;
        /* height: 100%; */
    }
}

.header {
    background-color: #b4bb72;
    padding: .5rempx 1rem;
    /* position: fixed; */
    top: 0;
    margin: 0;
    width: 100%;
    height: 16rem;
    box-sizing: border-box;
    left: 0;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


@media (min-width: 40rem) {
    .header {
        background-color: #b4bb72;
        padding: .5rem 1rem;
        position: fixed;
        top: 0;
        margin: 0;
        width: 100%;
        height: 7.5rem;
        box-sizing: border-box;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        }

        .header.active {
            background:black;
            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

        }
}

/*.header > div*/
 .logo {
    /* display: block; */
    /* vertical-align: middle; */
     /* position: fixed;   */
    /* height: 6.25rem; */
    /*width: 827px;*/
    /* width: 7.8rem; */
    /* height: 7.8rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
}

 @media (min-width: 40rem) {
    .logo {
        /* display: inline-block; */
        /* vertical-align: middle;  */
        /* position: fixed;  */
        /* width: 827px;
        width: 7.8rem;
        height: 7.8rem; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
     } 
}  

 .logo-img {
   background: url(myProject_initial_working_copy_Copy.png) no-repeat top left;
   width: 15rem;
   /*height: 7.8rem;
   margin: 0px 0px;
   position: relative;
   bottom: 2.18rem;
   right: 45;  */
} 

@media (min-width: 40rem) {
    .logo img {
        background: url(myProject_initial_working_copy_Copy.png) no-repeat top left;
        width: 7.8rem; 
        /* height: 7.8rem; */
        /* margin: 1.6rem 0 0 0; */
        /* position: relative; */
        /* bottom: 2.18rem; */
        /* right: 45;   */
    } 
}

.main-nav {
    /* display: inline-block; */
    text-align: center;
    /* width: calc(100% - 61px); */
    vertical-align: middle;
    display: flex;
    /*position: relative;
    top: 175px;*/
}

@media (min-width: 40rem) {
    .main-nav {
        /* display: inline-block; */
        text-align: right;
        /* width: calc(100% - 61px); */
        vertical-align: middle;
        /* margin-top: 2.81rem; */
        display: flex;
        /* flex-wrap: wrap;
        align-items: right;
        justify-content: space-between; */
    }
}

.main-nav__items {
    /*margin: 0;*/
    padding: 0;
    font-family: sans-serif;
    /*height: 50%;*/
    /*position: relative;
    top: 150px;*/
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

@media (min-width: 40rem) {
    .main-nav__items {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: space-between; 
    }
}

.main-nav__item {
    display: block;
    /* margin: 0 1rem; */
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 2px;
} 


@media (min-width: 40rem) {
    .main-nav__item {
        /* display: inline-block; */
        margin: 0 1rem;
        text-decoration: none;
        list-style: none;
        /* position: relative; */
        display: flex;
        justify-content: center;
        padding: 2px;
    } 
}

.main-nav__item a {
    /*margin: 0 16px;*/
    background: #b4bb72;
    color: black;
    font-weight: bold;
    padding: .019rem 0;
    text-decoration: none;
    font-size: 1.15rem;
}

@media (min-width: 40rem) {
    .main-nav__item a {
        /*margin: 0 16px;*/
        background: #b4bb72;
        color: black;
        font-weight: bold;
        padding: .019rem 0;
        text-decoration: none;
        font-size: 1.15rem;
        /*position: absolute;
        left: 0px;
        top: -136px;*/
    }

     .main-nav__item>a.active-scroll { 
        background: none;
        color: #287f37;
    }
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #287f37;
    font-weight: bold;
    font-size: 1.3rem;
    font-weight: bold;
}


.main-nav__item--cta a {
    color: black;
    background: #287f37;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

@media (min-width: 40rem) {
    .main-nav__item--cta a {
        color: black;
        background: #287f37;
        padding: .5rem 1rem;
        border-radius: .5rem;
    }
}

@media (min-width: 40rem) {
    .main-nav__item--cta>a.active-contact { 
        background: #b4bb72;
        color: black;
    }
}



.main-nav__item--cta a:hover,
.main-nav__item--cta a:active { 

    color: #287f37;
    border: none;
    background: black;
}

h1 {
    color: gray;
    /*background-color: blue;*/
    font-family: 'Montserrat', sans-serif;
}

/*@media (min-width: 40rem) { 
    .offset:before {
        display: block;
        content: "";
        height: 8.7rem;
        margin-top: -8.7rem;
        visibility: hidden;
    }
}*/

.sections {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    flex-basis: auto;
}

/* ***********************************
 .background {   */
    /* display: flex;  */
/* } ********************************
*/


.webdev {
    background-image: url("webdev-training.png");
    background-size: cover;
    /* width: 100%; */
    height: 34.7rem; 

    /*check main code to add padding
    padding: ;
    */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (min-width: 40rem) {
    .webdev {
        background: url("webdev-training.png");
        background-size: cover;
        /* width: 100%; */
        height: 34.7rem;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*justify-content: space-between;
        align-content: space-between;*/
        /* flex-wrap: wrap; */
    }
}

.webdev h1 {
    color:#287f37;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
}


.webdev h2 {
    color:#287f37;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;  

    animation-name: moveInRight;
    animation-duration: 2s;
}



@media (min-width: 40rem) {
    .webdev h1 {
        color:#287f37;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin: 2.8rem auto;
        /* padding: 4.7rem 0 3.1rem; */
        font-size: 3rem;

        animation-name: moveInLeft;
        animation-duration: 2s;
    }
    
    
    .webdev h2 {
        color:#287f37;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin: 2.8rem auto;
        /* padding: 4.7rem 0 3.1rem; */
        font-size: 3rem;

        animation-name: moveInRight;
        animation-duration: 2s;
    }
}



@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/*.webdev h2 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 45px auto;
    padding: 175px 0 120px;
    font-size: 35px;
}*/


.about {
    height: 14.4rem;
    font-family: 'Montserrat', sans-serif;
    background:#b4bb72;
    padding-top: 1.6rem;
}

.about h1 {
        color: black;
        margin: 0 0 2.5rem 0;
    }
}

.education {
    height: 12.5rem;
    font-family: 'Montserrat', sans-serif;
    background: black;
    padding-top: 1.6rem;
}

.edu_h1 {
    color: #287f37;
    margin: 1.8rem 0 2.5rem 0;
}

.edu_h5 {
    color: #287f37;
}

.edu_anchor {
    color: #287f37;
    text-decoration: none;
}

.edu_anchor:hover,
.edu_anchor:active {
    color: #b4bb72;
    font-weight: bold;
    font-size: 1.1rem;
}


.classes {
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background: #b4bb72;
    padding-top: 1.6rem;
}

.classes h1 {
    color: black;
    margin: 0 0 2.5rem 0;
}

.classes a {
    display: block;
    text-decoration: none;
    color: black;
}

.last__class {
    margin: 0 0 2.5rem 0;
}

.classes a:hover,
.classes a:active {
    color: #287f37;
    font-weight: bold;
    font-size: 1.1rem;
    font-weight: bold;
}


.projects {
    /* width: 100%; */
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background: black;
    padding-top: 1.6rem;
}

.projects h1 {
    color: #287f37;
    margin: 0 0 2.8rem 0;
}

.pro-desc {
    display: block;
    color: #287f37;
    padding: 10px 0 30px 0;
}

/*using Flexbox for row and column*/
.projects_row {
    display: flex;
    display: block;
}
  
  
.projects_column {
    flex: 25.00%;
    padding: 5px;
    /* height: auto; */
    /* width: 20rem; */
}

@media (min-width: 40rem) {
.projects {
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background: black;
    padding-top: 1.6rem;
}

.projects h1 {
    color: #287f37;
}

.pro-desc {
    display: block;
    color: #287f37;
    padding: 20px 0 10px 0;
}

/*using Flexbox for row and column*/
.projects_row {
    display: flex;
    }
    
.projects_column {
    flex: 25.00%;
    padding: 15px;
    }
}

 .technologies {
    /* width: 100%; */
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background: #b4bb72;
    padding: 1rem 0 1rem 0;
}

.technologies h1 {
    color: black;
    margin: 0 0 2.1rem 0;
  }

  .content {
    margin: 1rem 0 1rem 0;
  }

  .text {
    font-weight: bold;
  }


  /*using Flexbox for row1 and column1 - column1 is
  good for all columns/items in row1*/
.tech_row1 {
    display: block;
}
  
.tech_column1 {
    padding: 15px;
  }

  .tech_column1 img {
    width: 25%;
  }



 /*using Flexbox for row2 and column2*/
 .tech_row2 {
    display: block;
 }
  
  .tech_column2 {
    padding: 15px;
  }

  .tech_column2 img {
    width: 25%;
}

  /*using Flexbox for row3 and column3*/
  .tech_row3 {
      display: block;
  }

  .tech_column3 {
      padding: 15px;
  }

  .tech_column3 img {
    width: 25%;
}
  

  /*using Flexbox for row4 and column4*/
.tech_row4 {
    display: block;
}
  
.tech_column4 {
    padding: 15px;
}

.tech_column4 img {
    width: 25%;
}





@media (min-width: 40rem) {
    .technologies {
        /* width: 100%; */
        height: auto;
        font-family: 'Montserrat', sans-serif;
        background: #b4bb72;
        padding-top: 1.6rem;
    }
    
    .technologies h1 {
        color: black;
      }

      /* for each column in each row */
    .tech_column1 img {
        width: 40%;
    }

    .tech_column2 img {
        width: 40%;
    }

    .tech_column3 img {
        width: 40%;
    }

    .tech_column4 img {
        width: 40%;
    }

    
      /*using Flexbox for row1 and column1*/
    .tech_row1 {
        display: flex; 
    }

    .tech_column1 { 
        flex: 25.00%;
        padding: 5px;
    } 
      
     .tech_row2 {
        display: flex;
     }
      
       .tech_column2 { 
        flex: 25.00%;
        padding: 5px;
      } 
    
      .tech_row3 {
          display: flex;
      }
    
       .tech_column3 {
          flex: 25.00%;
          padding: 5px;
      } 

        .tech_row4 {
            display: flex;
        }
        
         .tech_column4 {
            flex: 25.00%;
            padding: 5px;
        } 

        .tech_rows {
            padding: 1rem 0 1rem 0;
        }
}


/* .icons .content:hover { opacity:1; }      
.icons .content .text {
height:0;
opacity:1;
transition-delay: 0s;
transition-duration: 0.4s;
}
.icons .content:hover .text {
opacity:1;
transform: translateY(250px);
-webkit-transform: translateY(250px);
} */




.contact {
    height: 40.6rem;
    font-family: 'Montserrat', sans-serif;
    background: black;
    padding-top: 3.1rem;
}

.contact h1 {
    color: #287f37;
    margin: 0 0 2.1rem 0;
}

label,
select,
input {
    display: block;
    margin-top: .31rem;
    width: 100%;
    color: #287f37
}


.signup-form {
    padding: 1rem;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

/* .signup-form input[type="checkbox"] */
.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form input[type="checkbox"] {
    border: 1px solid #ccc;
    background: white;
    width: 1rem;
    height: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup-form input[type="checkbox"]:checked {
    background: #287f37;
    border: #287f37;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
    border-color: #287f37 !important;
    background: #b4bb72;
}

#link__blog {
    color: #b4bb72;
    text-decoration: none;
}

.signup-form button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 25rem;
    }
}


/* ********** FOOTER *********** */
.exp-footer { 
    background: #b4bb72; 
}  

.main-footer {
    display: inline-block; 
    width: 100%;
}

.nav-footer {  
    text-align: center;
}

.soc-sites {  
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.soc-site {
    list-style: none;
    text-decoration: none;
    padding: .15rem .63rem;
 }

.soc-sites a {
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
    font-weight: bold;
}

@media (min-width: 40rem) {
    .main-footer {
        display: inline-block; 
        width: 100%;
        margin: .6rem 0 .6rem 0;
    }

    .soc-sites {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .soc-site {
        list-style: none;
        text-decoration: none;
        padding: 0 .63rem;
    }

    .soc-sites a {
        text-decoration: none;
        color: black;
        font-size: 1.15rem;
        font-weight: bold;
    }
}



.scroll-color {
    background-color:black;
}




